* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 2.9rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 8px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 4px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #cccccc; /* světle šedá */
}
