.c-main-wrapper {
  max-width: 1250px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;

  @media (max-width: 1025px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-hero-container {
  margin-top: 5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 2.5rem;
  @media (max-width: 1025px) {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.c-homepage-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 1.5rem;
  @media (max-width: 1025px) {
    padding-bottom: 1rem;
  }
}
.c-homepage-item-2 {
  grid-column-start: 3;
  grid-column-end: 6;
  @media (max-width: 1025px) {
    padding-bottom: 3rem;
  }
}

.c-homepage-cta {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: rgb(249, 38, 174);
  background: -moz-linear-gradient(
    90deg,
    rgba(249, 38, 174, 1) 0%,
    rgba(128, 40, 238, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(249, 38, 174, 1) 0%,
    rgba(128, 40, 238, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(249, 38, 174, 1) 0%,
    rgba(128, 40, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f926ae",endColorstr="#8028ee",GradientType=1);
  text-decoration: none;
  cursor: pointer;
  @media (max-width: 1025px) {
    margin-top: 0;
  }
}

.c-homepage-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 6rem;

  @media (max-width: 1025px) {
    grid-template-rows: repeat(4, auto);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.c-homepage-item-2 {
  @media (max-width: 1025px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.c-homepage-item-3 {
  @media (max-width: 1025px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.c-homepage-item-4 {
  @media (max-width: 1025px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
