.c-main-wrapper {
  max-width: 1250px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-hero-container {
  margin-top: 5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.5rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.c-homepage-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 1.5rem;
  @media (max-width: 768px) {
    padding-bottom: 1rem;
  }
}
.c-homepage-item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  @media (max-width: 768px) {
    padding-bottom: 3rem;
  }
}

.c-homepage-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  @media (max-width: 768px) {
    grid-template-rows: repeat(4, auto);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.c-homepage-item-2 {
  @media (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.c-homepage-item-3 {
  @media (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.c-homepage-item-4 {
  @media (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
