.c-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  aspect-ratio: 70/45;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: cover;
  background: white;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
